main {
    margin-top: 70px;
}

.tab-pane {
    margin-top: 20px;
}

input[type=range] {
    display: inline;
    width: auto;
	padding: 0;
}

.criterion {
	padding: 0;
}

.sheet-value {
	width: auto;
	padding: 2px 6px;
	padding-right: 2px;
	height: 25px;
	margin-left: 20px;
}

.category-value {
	display: inline-block;
	width: 50px;
	margin-left: 10px;
}

.description {

}

.description[data-value="1"] {
	color: #00B800;
}

.description[data-value="2"] {
	color: #00B2DD;
}

.description[data-value="3"] {
	color: #FFD700;
}

.description[data-value="4"] {
	color: #FF8000;
}

.description[data-value="5"] {
	color: #DD3A00;
}

.description[data-value="6"] {
	color: #660000;
}
