main {
    margin-top: 70px;
}

.tab-pane {
    margin-top: 20px;
}

input[type=range] {
    display: inline;
    width: auto;
	padding: 0;
}

.part-score {
    margin-bottom: 10px;
    font-size: 120%;
}

.criterion {
	padding: 0;
}

.sheet-value {
	width: 55px;
	padding: 2px 6px;
	padding-right: 2px;
	height: 25px;
	margin-left: 20px;
}

.category-score {
	display: inline-block;
	width: 55px;
	margin-left: 10px;
}

.description {
    min-height: 3px;
}
